@import '../styles/theme.scss';

.sidebar {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--sidebar-bg);
  height: 100vh;
  gap: 1rem;
  width: 220px;
  color: var(--sidebar-text);
  
}

.sidebarBtn {
  border-radius: 6px;
  color: var(--sidebar-text);
  padding:6px 2px;
  display: flex;
  align-items: center;
  background: none;
  border: none;
  font-size: 1rem;

  transition: background 0.2s;

  &:hover {
    background-color: #7575a0;
    color: white;
  }

  .icon {
    margin-right: 0.75rem;
    font-size: 1.2rem;
    color: #90caf9;
  }

  .label {
    font-weight: 500;
  }
}

